.skeleton {
    background-color: #ddd;
    margin: 7px 0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.skeleton.h1 {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}

.skeleton.h2 {
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

.skeleton.h3 {
    margin-bottom: 20px;
    width: 100%;
    height: 25px;
}

.skeleton.h4, .skeleton.h5, .skeleton.h6 {
    margin-bottom: 20px;
    width: 100%;
    height: 20px;
}

.skeleton.title {
    width: 50%;
    height: 20px;
    margin-bottom: 20px;
}

.skeleton.body {
    width: 100%;
    height: 16px;
}

.skeleton.caption {
    width: 100%;
    height: 11px;
}

.skeleton.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 1rem 1rem 0;
}

.skeleton.thumbnail {
    width: 100px;
    height: 100px;
}

@keyframes pulse {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(250%);
    }
}

#wave {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    transform: skewX(-20deg);
    animation: loading 1.5s infinite;
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}

#pulse {
    width: 100%;
    height: 100%;
    background-color: rgb(185, 185, 185);
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}


#text {
    background-color: red;
}