.container {
    width: 85%;
    margin: 1rem auto;
}

.propsTitle {
    margin-top: 1rem;
}

.tableHeader {
    background-color: #393939;
    color: #00ad5f;
}

.table {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1rem;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    background-color: #222;
    color: gray;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: center;
    padding: 8px;
}

/*tr:nth-child(even) {*/
/*  background-color: #dddddd;*/
/*}*/